.orders-container {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  background-color: #f8f8f8;
}

.orders-container .heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.orders-container .para {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.no-orders {
  font-size: 16px;
  color: #888;
}

.order-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.history-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  flex: 1;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headings .heading {
  font-weight: 600;
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}

.headings .value {
  font-size: 14px;
  color: #000;
}

.history-content-images {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}

.history-content-images img {
  max-width: 100px;
  height: auto;
  border-radius: 6px;
  margin-top: 10px;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.history-content-images img:hover {
 cursor: pointer;
  filter: brightness(1.2); 
  transform: scale(1.07);
}